
  .loader.svelte-pl44wm {
    display: none;
  }
  #topGrid.svelte-pl44wm {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  #completeTestSummaryGrid.svelte-pl44wm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
  }
  #completeTestSummaryGrid.svelte-pl44wm div:where(.svelte-pl44wm) {
    display: grid;
    place-items: center;
    margin: 10px;
    grid-template-columns: 1fr;
  }
  button.svelte-pl44wm {
    margin: 5px auto;
    width: 90%;
    height: 30px;
    padding: 5px;
  }
